{% extends "base.html"%}

{% block title %}{{ hall.name }}{% endblock %}

{% block header %}<h1>{{ hall.name }}</h1>{% endblock %}

{% block content %}
<script type="text/javascript">
function toggle() {
 if( document.getElementById("hidethis").style.display=='none' ){
   document.getElementById("hidethis").style.display = 'table-row'; // set to table-row instead of an empty string
 }else{
   document.getElementById("hidethis").style.display = 'none';
 }
}
</script>


{% for object in menus %}
<span onclick="toggle();">
<h2>{{ object.meal.name }}</h2>
</span>
<table>
<tr id="hidethis" style="display:none;">
<p>{{ object.meal.name }} starts at {{ object.meal_start }}</p>
<td>{% for food in object.food.all %}<p>{{ food.name }}</p>{% endfor %}</td>

{% endfor %}
</tr>
</table>
{% endblock %}

