{% extends "base.html"%}

{% block title %}{{ hall.name }}{% endblock %}

{% block header %}<h1>{{ hall.name }}</h1>{% endblock %}

{% block content %}
  <script>
  $(function() {
    $( "#accordion" ).accordion({
		collapsible: true,
        active: false,
        heightStyle: "content"
	});
  });
  </script>

<div class="col-md-12" id="accordion">
{% for object in menus %}
<h4><a>{{ object.meal.name }}</a></h4>
<p><strong>{{ object.meal.name }} starts at {{ object.meal_start }}</strong><br/>
{% for food in object.food.all %}{{ food.name }}<br />{% endfor %}
</p>
{% endfor %}
</div>
{% endblock %}

