{% extends "base.html"%}

{% block title %}Hangry at UNL -- FEED ME{% endblock %}

{% block header %}<h1>Hangry at UNL -- FEED ME</h1>{% endblock %}

{% block viz %}
<h3>Explore the map or select a dining hall from the list below to view their menus.</h3>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col2+from+1-cKjOfeHVg0UE0mEwq6TamQ6Q9Jvpu5a34jRXJ8v&amp;viz=MAP&amp;h=false&amp;lat=40.821709314107224&amp;lng=-96.67941247351075&amp;t=1&amp;z=14&amp;l=col2&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
{% endblock %}

{% block content %}

{% for object in halls %}
<p><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></p>
{% endfor %}



{% endblock %}
